.cardContainer{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin:auto;
  background-color: pink;
  border-radius: 30px;
  margin-bottom:20px;
}
.cardContainer p{
  width:100%;
  text-align: center;
}

.cards {
  width: 400px;
  height: 400px;
  margin-bottom:50px;/*temporaire*/
  background-color: white;
  border:10px solid lightgrey;
  transition:box-shadow 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

@media screen and (min-width: 200px) and (max-width:640px) {
  .cards {
    width: 240px;
    height: 400px;
  }
}

.cards:hover{
  box-shadow: 10px 10px 15px 0px rgba(0,0,0, 0.35);
}

.img {
  max-width: 90%;
  max-height: 100%;
  margin-top:10px;
  border-radius:20px;
  }

.title {
  width: 90%;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 20px 0 0 0;
  border:2px solid red;
}

.desc {
  border:2px solid red;
  width: 90%;
  height: 150px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  overflow-x: hidden;
}

button{
  cursor: pointer;
  background-color:#D20064;
  padding:20px;
  color:white;
  font-size:15px;
  border-radius:10px;
  font-weight: 600;
  border:none;
}
.bouton-article{
  display:flex;
  justify-content: center;
  padding-bottom:20px;
}
.hide-false{
  display:none;
}