.grid{
	background-image: url("https://static1.squarespace.com/static/539d29d5e4b09631aaedfdb8/587febf0e4fcb5931a2c55fb/587febf186e6c00a383fa034/1484778483340/cotton+candy+4.jpg");
	background-position:top;
	background-repeat: repeat;
	background-size: 400%;
}
h1,h2,h3{
	color:#D20064;
	text-align: center
}